.header {
  max-width: 880px;
  margin: 45px auto 0;
  padding-bottom: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  /*width: 142px;*/
  height: 33px;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__email {
 font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

.header__logout {
  background: none;
  border: none;
  color: #a9a9a9;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer
}

.header__logout:hover {
  opacity: 0.6;
}

.header__nav {
  display: flex;
  gap: 24px;
}

.header__link {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) and (min-width: 641px) {
  .header {
    padding: 0 30px 41px;
  }
}

@media screen and (max-width: 640px) and (min-width: 320px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 28px 0 31px;
    gap: 18px;
  }
  .header__nav,
  .header__user {
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;;
  }
}
